.home ul li {
    list-style: none;
    margin: 0;
    border-radius: 3px;
  }

.home h2 {
    text-align: center;
    margin: 8px 0 60px;
}

.home .d-flex {
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}
.home .d-flex li a {
    display: inline-flex;
    height: 100%;
}
.home .card-title {
    text-align: center;
}

@media (max-width: 1199px) { 
    .home .d-flex {
      justify-content: space-evenly;
    }
 }
@media (max-width: 767px) { 
    .home .d-flex {
      justify-content: center;
    }
 }