.person-details {
    display: flex;
    flex-direction: row;
    padding: 1rem;
  }
  
  .person-details .person-image {
    width: 35%;
    border-radius: 6px;
    align-self: start;
  }
  
  .person-details .list-group-item, h4 {
    padding: .25rem;
  }
  
  .person-details .list-group-item .term{
    margin-right: .5rem;
  }

  @media (max-width: 768px) { 
    .person-details {
        min-width: 100%;
    }
    .person-details .person-image {
      width: 35%;
    }
 }